<div class="row">
  <h2><%= @recipe.name %></h2></br>
  <div class='col-md-6'>
    <p> <strong>Cozinha: </strong> <%= @recipe.cuisine %></p>
    <p> <strong>Tipo: </strong> <%= @recipe.food_type %></p>
    <p> <strong>Serve: </strong> <%= @recipe.people %> pessoas</p>
    <p> <strong>Tempo de preparo: </strong>
    <%= @recipe.preparation_time %> minutos</p>
    <p> <strong>Dificuldade: </strong> <%= @recipe.dificulty %></p>
    <p> <strong>Ingredientes: </strong> </p>
    <p> <%= @recipe.ingredients %></p>
  </div>
  <div class='col-md-6'>
    <p> <strong>Passo a passo: </strong> </p>
    <p> <%= @recipe.steps %></p>
  </div>
<div>
